body{
    font-family: 'Signika Negative', sans-serif;
}

h1{
   font-size: 60px;
   font-family: 'Signika Negative', sans-serif;
}
.heighlight{
    color: orange;
}
.half-width{
    width:40% ;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}